name: Build and Test

on:
  push:
    branches:
      - master
      - 2.0.x
  pull_request:
    branches:
      - master
      - 2.0.x
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout cups-filters sources
        uses: actions/checkout@v6

      - name: Show Ubuntu version
        run: cat /etc/os-release | grep PRETTY_NAME | awk -F '=' '{print $2}'

      - name: Update build environment
        run: sudo apt-get update --fix-missing -y

      - name: Install prerequisites
        run: |
          sudo apt-get install -y \
            libcups2-dev \
            libcupsfilters-dev \
            libppd-dev \
            ghostscript \
            liblcms2-dev \
            libpoppler-cpp-dev \
            libpng-dev \
            libjpeg-dev \
            libtiff5-dev \
            zlib1g-dev \
            libfontconfig1-dev \
            libdbus-1-dev \
            libexif-dev \
            libavahi-common-dev \
            libavahi-client-dev \
            poppler-utils \
            sharutils \
            pkg-config \
            autoconf \
            automake \
            libtool \
            gettext \
            autopoint

      - name: Generate configure script
        run: ./autogen.sh

      - name: Configure cups-filters
        env:
          CC: /usr/bin/gcc
        run: ./configure

      - name: Build cups-filters
        run: make

      - name: Run tests
        run: make check

      - name: Upload test artifacts
        uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: cups-filters-test-artifacts
          path: |
            test
            **/test-*.log
            **/*.trs